.left {
  float: left;
  width: 30%;
  height: 100%;
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* ============ desktop view ============ */
/* @media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .nav-link {
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }

  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
} */

/* ============ desktop view .end// ============ */

.icon {
  width: 30px;
  height: 30px;
}
